.about-page {
    padding: 20px;
  }
  
  .team-header {
    color: #ccc;
  }

  .headers {
    text-align: center;
    margin: 20px 0;
  }
  
  .headers h6 {
    font-size: 18px;
    color: #522a2a; /* You can choose your desired color */
  }
  
  .headers .team-header {
    font-size: 36px;
    color: #1a73e8; /* You can choose your desired color */
    margin-top: 10px;
  }
  
  
  .team-description {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .about-card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .about-card {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .about-card-content {
    margin-top: 10px;
  }
  
  