.landing-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


#myCarousel {
  border-radius: 8px;
  overflow: show;
}

/* .carousel-inner {
  border-radius: 20px;
  display: flex;
} */

.carousel-control-prev{
  color: rgb(11, 11, 11) !important;
  font-size: larger;
  padding: 50px;
}

.carousel-control-next{
  color: rgb(16, 17, 17)!important;
  font-size: larger;
  /* padding: 50px; */
}
.image-container{
/* display: flex; */
}

.img{
  width: 750px;
}