
.home-container {
  background: url("https://t3.ftcdn.net/jpg/03/12/98/50/360_F_312985059_66x3vcXQdx3tRBznUCNJmm9MMc6bMQGI.jpg");
  background-size: 1800px;
  background-position: center;
  background-repeat:no-repeat;
  padding: 0;
  text-align: center;
  font-size: larger;
}

.header {
  margin-bottom: 30px;
}

.header h1{
  margin-top: 35px;
}

.blue {
  color: #2196F3;
}

.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-item {
  text-decoration: none;
  /* color: #333; */
  width: 100px;
  background-color: black;
  height: 30vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  transition: box-shadow 0.3s ease-in-out;
}

.card-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-item img {
    max-width: 100%; 
    height: 25vh;    
    display: block; 
    margin: 0 auto; 
}

.card-icon {
  font-size: 20px;
}

.arrow {
  margin-top: 10px;
}


