/* Parcel.css */

.forms-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.clicked-select {
  background-color: #2196F3; /* Blue color when clicked */
  color: white; /* White text */
}
.parcel-form {
  background-color: #c6bfbf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(138, 118, 118, 0.1);
  width: 40%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
